Summary XML/MixedContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="MixedContentCountry">
        <xsd:complexType mixed="true">
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="king" type="xsd:string"/>
                <xsd:element name="fruit" type="xsd:string"/>
            </xsd:choice>
            <xsd:attribute name="countryCode" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>